# Lab | Customer Analysis Round 6
## For this lab, we still keep using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder.

## Get the data
  ## We are using the marketing_customer_analysis.csv file.

## Dealing with the data
  ## Already done in the round 2.

## Explore the data
  ## Done in the round 3.

## Processing Data
    (Further processing...)

## 1. X-y split.
## 2. Normalize (numerical).
## 3. One Hot/Label Encoding (categorical).
## 4. Concat DataFrames

## Linear Regression
 ## 1.Train-test split.
 ## 2. Apply linear regression.

## Model Validation
 ## Description:
   ## R2.
   ## MSE.
   ## RMSE.
   ## MAE.

In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv('marketing_customer_analysis.csv')
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [6]:
df.columns=[c.lower().replace(' ', '_') for c in df.columns]
df=df.drop(columns=['unnamed:_0', 'vehicle_type','customer'],axis=1)
df=df.dropna()
df

,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
6,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,Urban,...,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,Suburban,...,82,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize
10904,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,Suburban,...,32,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize
10906,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,Urban,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,Urban,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize

In [7]:
df['effective_to_date']=pd.to_datetime(df['effective_to_date'], errors='coerce')
df['month']=df['effective_to_date'].dt.strftime('%m')
df

,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,02
1,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,01
2,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,02
3,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,01
6,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,Urban,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,Suburban,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,01
10904,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,Suburban,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,02
10906,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,Urban,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,01
10907,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,Rural,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,02
10908,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,Urban,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,02

In [8]:
df.describe(include='all')

,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
count,9134,9134.000000,9134,9134,9134,9134,9134,9134,9134.000000,9134,...,9134.000000,9134.000000,9134,9134,9134,9134,9134.000000,9134,9134,9134
unique,5,NaN,2,3,5,59,5,2,NaN,3,...,NaN,NaN,3,9,4,4,NaN,6,3,2
top,California,NaN,No,Basic,Bachelor,2011-01-10 00:00:00,Employed,F,NaN,Suburban,...,NaN,NaN,Personal Auto,Personal L3,Offer1,Agent,NaN,Four-Door Car,Medsize,01
freq,3150,NaN,7826,5568,2748,195,5698,4658,NaN,5779,...,NaN,NaN,6788,3426,3752,3477,NaN,4621,6424,4898
first,NaN,NaN,NaN,NaN,NaN,2011-01-01 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2011-02-28 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,8004.940475,NaN,NaN,NaN,NaN,NaN,NaN,37657.380009,NaN,...,0.384388,2.966170,NaN,NaN,NaN,NaN,434.088794,NaN,NaN,NaN
std,NaN,6870.967608,NaN,NaN,NaN,NaN,NaN,NaN,30379.904734,NaN,...,0.910384,2.390182,NaN,NaN,NaN,NaN,290.500092,NaN,NaN,NaN
min,NaN,1898.007675,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,...,0.000000,1.000000,NaN,NaN,NaN,NaN,0.099007,NaN,NaN,NaN
25%,NaN,3994.251794,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,...,0.000000,1.000000,NaN,NaN,NaN,NaN,272.258244,NaN,NaN,NaN
50%,NaN,5780.182197,NaN,NaN,NaN,NaN,NaN,NaN,33889.500000,NaN,...,0.000000,2.000000,NaN,NaN,NaN,NaN,383.945434,NaN,NaN,NaN
75%,NaN,8962.167041,NaN,NaN,NaN,NaN,NaN,NaN,62320.000000,NaN,...,0.000000,4.000000,NaN,NaN,NaN,NaN,547.514839,NaN,NaN,NaN
max,NaN,83325.381190,NaN,NaN,NaN,NaN,NaN,NaN,99981.000000,NaN,...,5.000000,9.000000,NaN,NaN,NaN,NaN,2893.239678,NaN,NaN,NaN

In [9]:
data_numerical= df.select_dtypes(exclude=["object"])
data_numerical

,customer_lifetime_value,effective_to_date,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809.216960,2011-02-18,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,2011-01-18,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,2011-02-10,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,2011-01-11,49078,97,10.0,3,0.0,2,484.013411
6,5035.035257,2011-02-14,37405,63,8.0,99,3.0,4,287.556107
...,...,...,...,...,...,...,...,...,...
10903,2771.663013,2011-01-07,59855,74,30.0,82,4.0,1,355.200000
10904,19228.463620,2011-02-24,0,187,14.0,32,0.0,2,897.600000
10906,5259.444853,2011-01-06,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,2011-02-06,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,2011-02-13,64195,158,0.0,27,4.0,6,618.288849

In [10]:
data_numerical.isnull().sum()

customer_lifetime_value          0
effective_to_date                0
income                           0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
total_claim_amount               0
dtype: int64

In [11]:
data_cat= df.select_dtypes(include=["object"])
data_cat

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,month
0,Arizona,No,Basic,College,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,02
1,California,No,Basic,College,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,01
2,Washington,No,Basic,Bachelor,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,02
3,Oregon,Yes,Extended,College,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,01
6,California,No,Basic,Doctor,Employed,F,Urban,Married,Corporate Auto,Corporate L2,Offer2,Branch,Four-Door Car,Medsize,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,Arizona,No,Basic,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Branch,Two-Door Car,Medsize,01
10904,Nevada,No,Basic,High School or Below,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Luxury SUV,Medsize,02
10906,Oregon,No,Basic,College,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,01
10907,Arizona,No,Extended,Bachelor,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,02
10908,California,No,Premium,College,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,02

In [12]:
data_cat.isnull().sum()

state               0
response            0
coverage            0
education           0
employmentstatus    0
gender              0
location_code       0
marital_status      0
policy_type         0
policy              0
renew_offer_type    0
sales_channel       0
vehicle_class       0
vehicle_size        0
month               0
dtype: int64

### 1.

In [115]:
X=data_numerical.drop('total_claim_amount', axis=1)
y=data_numerical.total_claim_amount

X=X.drop(columns=['effective_to_date'])
X

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,4809.216960,48029,61,7.0,52,0.0,9
1,2228.525238,0,64,3.0,26,0.0,1
2,14947.917300,22139,100,34.0,31,0.0,2
3,22332.439460,49078,97,10.0,3,0.0,2
6,5035.035257,37405,63,8.0,99,3.0,4
...,...,...,...,...,...,...,...
10903,2771.663013,59855,74,30.0,82,4.0,1
10904,19228.463620,0,187,14.0,32,0.0,2
10906,5259.444853,61146,65,7.0,68,0.0,6
10907,23893.304100,39837,201,11.0,63,0.0,2
10908,11971.977650,64195,158,0.0,27,4.0,6

### 2.

In [19]:
X_num=X._get_numeric_data()
X_cat=X.drop(columns=X_num.columns)

print (X.shape, X_num.shape, X_cat.shape)  # check shape

(9134, 7) (9134, 7) (9134, 0)

In [15]:
X_num.describe()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000

In [32]:
# normalize (standard)
from sklearn.preprocessing import StandardScaler

transformer=StandardScaler().fit(X_num)
X_standardized=transformer.transform(X_num)

X_standardized_df=pd.DataFrame(X_standardized)
X_standardized_df

             0         1         2         3         4         5         6
0    -0.465131  0.341416 -0.936442 -0.803856  0.141031 -0.422250  2.524561
1    -0.840745 -1.239617 -0.849248 -1.200968 -0.790719 -0.422250 -0.822648
2     1.010536 -0.510839  0.197079  1.876656 -0.611536 -0.422250 -0.404247
3     2.085337  0.375947  0.109885 -0.506021 -1.614960 -0.422250 -0.404247
4    -0.432263 -0.008308 -0.878312 -0.704577  1.825350  2.873245  0.432555
...        ...       ...       ...       ...       ...       ...       ...
9129 -0.761692  0.730708 -0.558602  1.479543  1.216128  3.971744 -0.822648
9130  1.633560 -1.239617  2.725701 -0.108908 -0.575700 -0.422250 -0.404247
9131 -0.399601  0.773205 -0.820183 -0.803856  0.714416 -0.422250  1.269358
9132  2.312518  0.071749  3.132606 -0.406743  0.535234 -0.422250 -0.404247
9133  0.577394  0.873573  1.882827 -1.498803 -0.754883  3.971744  1.269358

[9134 rows x 7 columns]

In [33]:
(X_num-X_standardized).sum().sum()

3.096033195440495e-12

### 3.

In [34]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(drop='first').fit(X_cat)
encoder=encoder.transform(X_cat).toarray()
encoder

array([], shape=(9134, 0), dtype=float64)

### 4.

In [95]:
X=np.concatenate((X_standardized_df,encoder),axis=1)
X

array([[-0.46513077,  0.34141607, -0.93644167, ...,  0.14103142,
        -0.42224956,  2.52456108],
       [-0.84074497, -1.23961684, -0.84924779, ..., -0.79071917,
        -0.42224956, -0.82264788],
       [ 1.01053553, -0.51083865,  0.19707879, ..., -0.61153636,
        -0.42224956, -0.40424676],
       ...,
       [-0.39960106,  0.77320538, -0.82018316, ...,  0.7144164 ,
        -0.42224956,  1.26935772],
       [ 2.31251759,  0.07174938,  3.13260614, ...,  0.5352336 ,
        -0.42224956, -0.40424676],
       [ 0.57739384,  0.87357327,  1.88282717, ..., -0.7548826 ,
         3.97174357,  1.26935772]])

## Linear Regression
### 1.

In [96]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test=tts(X, y, test_size=.2)

In [97]:
len(X_train)

7307

In [109]:
len(X_test)

1827

In [110]:
len(X)

9134

## 2.

In [100]:
from sklearn.linear_model import LinearRegression as linreg

In [104]:
model=linreg()
model.fit(X_train, y_train)

LinearRegression()

In [116]:
y_pred=model.predict(X_test)

## Model validation

### R2

In [111]:
r_sq = model.score(X_test, y_test) # model prediction
r_sq

0.465464386440137

In [112]:
r_sq = model.score(X_train, y_train) # model prediction
r_sq

0.5294154673514025

In [72]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [113]:
model=sm.OLS(y,X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:     total_claim_amount   R-squared (uncentered):                   0.160
Model:                            OLS   Adj. R-squared (uncentered):              0.160
Method:                 Least Squares   F-statistic:                              249.1
Date:                Wed, 25 Jan 2023   Prob (F-statistic):                        0.00
Time:                        02:08:41   Log-Likelihood:                         -69325.
No. Observations:                9134   AIC:                                  1.387e+05
Df Residuals:                    9127   BIC:                                  1.387e+05
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -4.6357      5.465     -0.848      0.396     -15.349       6.077
x2          -100.0482      5.015    -19.948      0.000    -109.879     -90.217
x3           183.8161      5.461     33.662      0.000     173.112     194.520
x4            -1.4678      5.017     -0.293      0.770     -11.302       8.366
x5            -2.8552      5.016     -0.569      0.569     -12.687       6.977
x6            -1.2486      5.013     -0.249      0.803     -11.075       8.578
x7             0.5941      5.013      0.119      0.906      -9.232      10.420
==============================================================================
Omnibus:                      994.270   Durbin-Watson:                   0.350
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6389.170
Skew:                           0.316   Prob(JB):                         0.00
Kurtosis:                       7.048   Cond. No.                         1.53
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [126]:
from sklearn.metrics import mean_squared_error as mse
MSE = mse(y_test,y_pred)
#MSE
#MSE = np.square(np.subtract(y_test,y_pred)).mean()
MSE

224921.78448935473

In [129]:
import math
RMSE = math.sqrt(MSE)
RMSE

474.25919547158463

In [130]:
from sklearn.metrics import mean_absolute_error as mae
error = mae(y_test, y_pred)
error

437.8121141344082